bin/*.dll
bin/adb.exe
bin/audio
bin/platforms
bin/H264Decoder.exe
bin/scrcpy-server.jar
*.jar
*.ilk
*.pdb
*.exp
bin/TestDecoder.exe
src/StreamDecoder/.vs
src/StreamDecoder/x64
src/TestDecoder/.vs
src/TestDecoder/x64
src/UnityStreamDecoder/.vs
src/UnityStreamDecoder/Library
src/UnityStreamDecoder/Temp
src/UnityStreamDecoder/Build
src/UnityStreamDecoder/UnityPackageManager
src/UnityStreamDecoder/UnityStreamDecoder.sln
src/UnityStreamDecoder/UnityStreamDecoder.csproj
bin/StreamDecoder.lib
src/I420toRGB/x64
src/I420toRGB/GeneratedFiles
