bin/*.dll
bin/adb.exe
bin/audio
bin/platforms
bin/H264Decoder.exe
*.jar
*.ilk
*.pdb
*.exp
bin/TestDecoder.exe
src/StreamDecoder/.vs
src/StreamDecoder/x64
src/TestDecoder/.vs
src/TestDecoder/x64
src/UnityStreamDecoder/.vs
src/UnityStreamDecoder/Library
src/UnityStreamDecoder/Temp
src/UnityStreamDecoder/Build
src/UnityStreamDecoder/UnityPackageManager
src/UnityStreamDecoder/UnityStreamDecoder.sln
src/UnityStreamDecoder/UnityStreamDecoder.csproj
bin/StreamDecoder.lib
src/I420toRGB/x64
src/I420toRGB/GeneratedFiles
src/StreamDecoder/GeneratedFiles
src/TestDecoder/GeneratedFiles
bin/I420toRGB.exe
bin/ConvertTest.exe
src/UnityStreamDecoder/bin
src/UnityStreamDecoder/obj
src/TestDecoder_CSharp/bin
src/TestDecoder_CSharp/obj
